.sidebar {
  width: 280px;
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
  background-color: #FCFCFC;
}

.logo {
  display: flex;
  align-items: center;   
  justify-content: center; 
  text-decoration: none;
  width: 100%;
  margin-top:20px;   
}

@font-face {
  font-family: "RoundestSerialHeavy";
  src: url("../../../../public/fonts/Roundest-Serial-Heavy\ Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.logoText {
  font-family: "RoundestSerialHeavy", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.menuList {
  margin-top: 30px;
  list-style: none;
  padding: 0;
}

.menuItem {
  margin-bottom: 16px;
  border-radius: 5px;
}

.menuLink {
  display: flex;
  align-items: center;
  padding: 12px;
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.menuLink:hover {
  background-color: #d4f0e5;
}
.menuLink.inspectorMenuLink:hover {
  background-color: #FFF3B0;  
}
.menuIcon {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.menuLabel {
  font-size: 16px;
  color: #333;
}

.active .menuLink {
  background-color: #77BFA3;
}

.active .menuIcon {
  filter: brightness(0) invert(1); 
}

.active .menuLabel {
  color: white;
}

.menuItem.inspectorActive .menuLink {
  background-color: #FFD43B;
}