/* 검색 바(Search) */
.searchWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  flex: 1 1 200px; /* flex-grow, flex-shrink, flex-basis */
  margin-left: auto; /* 오른쪽 정렬 */
  box-sizing: border-box;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #999;
  font-size: 20px;
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 12px 24px 12px 44px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #77bfa3;
  box-shadow: 0 0 0 3px rgba(119, 191, 163, 0.2);
}

.inputInspector:focus {
  outline: none;
  border-color: #fad026;
  box-shadow: 0 0 0 3px rgba(241, 196, 15, 0.3);
}


@media (max-width: 600px) {
  .searchWrapper {
    max-width: 100%;
    min-width: 120px;
  }
}
