/* ProductWaitingBox */
.productBox {
  background: white;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  margin-bottom: 24px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.leftHeader {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.tag {
  width: 15px;
  height: 30px;
  background-color: #ffd43b;
  border-radius: 4px;
  margin-right: 10px;
}

.titleTop {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 30px;
}

/* ProductItem(각 상품 카드) */
.productItem {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 16px;
  transition: transform 0.2s ease;
  background-color: #fafafa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative; /* (선택사항) 필요하면 넣기 */
}

.productItem:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.imageBox {
  position: relative; /* 뱃지 위치 기준 */
}

.rejectBadge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #e74c3c;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  z-index: 1;
}

.imageBox {
  width: 100%;
  height: 200px;
  margin-bottom: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
  margin-top:20px;
}

.name {
  display: flex;
  align-items: baseline;
}

.brand {
  font-size: 17px;
  font-weight: 600;
  color: #222;
}

.category {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  margin-left: 4px;
}

.price {
  display: inline-block;
  min-width: 40px;
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
  background-color: #fff3b0;
  background: linear-gradient(135deg, #ffd700, #ffb300);
  color: #3e2723;
  box-shadow: 0 4px 8px rgba(255, 193, 7, 0.5);
}


.dateRow {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888;
  white-space: nowrap; /* 줄바꿈 방지 */
  overflow: hidden;
  text-overflow: ellipsis;
}

.clockIcon {
  margin-right: 6px;
  font-size: 14px;
}
