/* PickupBox */
.pickupBox {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  margin-bottom: 24px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.leftHeader {
  display: flex;
  align-items: center;
  margin-right:20px;
}

.tag {
  width: 15px;
  height: 30px;
  background-color: #3cb371;
  border-radius: 4px;
  margin-right: 10px;
}

.titleTop {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.table{
  width:100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.table th,
.table td{
  text-align:center;
  padding: 14px 10px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.table th {
  background-color: #f7f7f7;
  color: #555;
  font-weight: 600;
}

.table td img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

/* PickupItem */
.gradeBox {
  font-weight: 800;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 1.1rem;
  display: inline-block;
}

.grade_S {
  background: linear-gradient(135deg, #ffe082, #ffd54f);
  color: #4e342e;
  border: none;
  box-shadow: 0 2px 4px rgba(255, 215, 0, 0.4);
  font-weight: 700;
}

.grade_A {
  background: linear-gradient(135deg, #b2dfdb, #80cbc4);
  color: #004d40;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 150, 136, 0.2);
  font-weight: 600;
}

.grade_B {
  background: linear-gradient(135deg, #fff59d, #fdd835);
  color: #795548;
  border: none;
  box-shadow: 0 2px 4px rgba(255, 235, 59, 0.3);
  font-weight: 500;
}

.grade_C {
  background: linear-gradient(135deg, #ffe082, #fbc02d);
  color: #6d4c41;
  border: none;
  box-shadow: 0 2px 4px rgba(255, 202, 40, 0.25);
  font-weight: 500;
}



/* PickupProgress */
.progressContainer {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  flex-wrap: nowrap;
  overflow-x: auto;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  user-select: none;
  background-color: pu;
  flex: 0 0 80px;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.label {
  margin-top: 6px;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  text-align: center;
}

.active .circle {
  background-color: #4caf50;
  box-shadow: 0 0 8px #4caf5088;
  color: white;
}

.active .label {
  color: #4caf50;
  font-weight: 600;
}
