/* ProductBox */
.productBox {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  margin-bottom: 24px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.leftHeader {
  display: flex;
  align-items: center;
  margin-right:20px;
}

.tag {
  width: 15px;
  height: 30px;
  background-color: #3cb371;
  border-radius: 4px;
  margin-right: 10px;
}

.titleTop {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 30px;
}

/* ProductItem(각 상품 카드) */
.productItem {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 16px;
  transition: transform 0.2s ease;
  background-color: #fafafa;
}

.productItem:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.imageBox {
  width: 100%;
  height: 200px;
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 8px;
  /* background-color: #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}
.name {
  display: flex;
  align-items: baseline;
}

.brand {
  font-size: 17px;
  font-weight: 600;
  color: #222;
}

.category {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  margin-left: 4px;
}
.grade{
  font-weight: 800;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 1.1rem;
  display: inline-block;
}
.grade_S {
  background: linear-gradient(135deg, #ffe082, #ffd54f);
  color: #4e342e;
  border: none;
  box-shadow: 0 2px 4px rgba(255, 215, 0, 0.4);
  font-weight: 700;
}

.grade_A {
  background: linear-gradient(135deg, #b2dfdb, #80cbc4);
  color: #004d40;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 150, 136, 0.2);
  font-weight: 600;
}

.grade_B {
  background: linear-gradient(135deg, #fff59d, #fdd835);
  color: #795548;
  border: none;
  box-shadow: 0 2px 4px rgba(255, 235, 59, 0.3);
  font-weight: 500;
}

.grade_C {
  background: linear-gradient(135deg, #ffe082, #fbc02d);
  color: #6d4c41;
  border: none;
  box-shadow: 0 2px 4px rgba(255, 202, 40, 0.25);
  font-weight: 500;
}


.dateRow {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888;
}

.clockIcon {
  margin-right: 6px;
  font-size: 14px;
}

/* 필터링 */
.filters {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.filters select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
