/* LoginBox */
.loginWrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.loginimg{
  flex: 2;
  display: flex;
}
.loginimg {
  flex: 2;
  position: relative;
  overflow: hidden;
}
.slideImageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;   
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
  z-index: 1;
}

.loginFormDiv{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginDiv{
    width:400px;
    height:450px;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.loginContent{
    margin: 0 auto;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 30px;
}

@font-face {
  font-family: "RoundestSerialHeavy";
  src: url("../../../../public/fonts/Roundest-Serial-Heavy\ Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.logoText {
  font-family: "RoundestSerialHeavy", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}
/* LoginInput */
.inputWrapper {
  position: relative;
  width: 350px;
  margin-bottom: 12;
}

.icon {
  position: absolute;
  top: 36%;
  left: 12px;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
  pointer-events: none;
}

.loginInput {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 38px;
  margin-bottom: 16px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  background-color: #F4F4F4;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  box-sizing: border-box;
}

.loginInput:focus {
  border-color: #3cb371;
  box-shadow: 0 0 0 2px rgba(60, 179, 113, 0.15);
  background-color: #fff;
}
.inspectorBox input:focus {
  border-color: #FFD43B !important;
  box-shadow: 0 0 0 2px rgba(255, 212, 59, 0.3) !important;
}

.loginInput::placeholder {
  color: #aaa;
}


/* 로그인 버튼 */
.loginButton{
background-color: #77BFA3;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-top:10px;
}

.loginButton:hover{
  cursor: pointer;
  background-color: #5aa88d;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.inspectorButton {
  background-color: #FFD43B;
}

.inspectorButton:hover {
  background-color: #f4c400;
}

.goBackText {
  width: 100%;
  text-align: left;   /* 왼쪽 정렬 */
  margin-bottom: 8px; /* 아래 여백 */
  font-size: 14px;
  color: #333;
  cursor: pointer;    /* 클릭 가능한 느낌 추가 (필요시) */
  user-select: none;  /* 텍스트 선택 방지 (선택사항) */
  margin-top: 10px;
}
