/* (상단) 요약 박스(Summary Box) */
.summaryBox {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  margin-bottom: 24px;
  min-width: 1300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.leftHeader {
  display: flex;
  align-items: center;
}

.tag {
  width: 15px;
  height: 30px;
  background-color: #3cb371;
  border-radius: 4px;
  margin-right: 10px;
}

.titleTop {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.datepicker {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.datepicker:hover{
    cursor: pointer;
}

.grid {
  display: flex;
  justify-content: space-between;
}

/* 요약 카드(SummaryCard) */
.card {
  width:350px;
}

.cardItem {
  background-color: #fff;
  margin-bottom: 35px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.label {
  font-size: 18px;
  color: #666;
}

.value {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-top: 4px;
}

.rank {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  padding-left: 18px;
  line-height: 1.5;
}

/* 차트 카드(Charts) */
.chartCard {
  background-color: #fff;
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width:400px;
  height: 394px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
}

.buttonGroup button {
  margin-left: 8px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 6px;
  cursor: pointer;
  width:60px;
  height:30px;
  line-height: 30px;
}

.buttonGroup .active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.chartDiv{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/* (하단) 차트 박스(ChartBox) */
.chartBox {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  min-width: 1300px;
}

.dropdown {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.chartPlaceholder {
  height: 350px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
